.search {
  float: left;
}

.watched {
  float: right;
}

.box {
  text-align: left;
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
  width: 20rem;
  padding-left: 10px;
  list-style-type: none;
}